---
http_interactions:
- request:
    method: get
    uri: https://itunes.apple.com/lookup?country=AA&entity=software&id=992625902
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Apple-Jingle-Correlation-Key:
      - 527GOADUWZSE7K5PCRZSXTZ75I
      X-Apple-Application-Site:
      - MR22
      Apple-Originating-System:
      - MZStoreServices
      X-Apple-Translated-Wo-Url:
      - "/WebObjects/MZStoreServices.woa/ws/wsLookup?country=AA&entity=software&id=992625902&urlDesc="
      Apple-Tk:
      - 'false'
      X-Apple-Orig-Url:
      - https://itunes.apple.com/lookup?country=AA&entity=software&id=992625902
      Apple-Seq:
      - '0'
      Apple-Timing-App:
      - 2 ms
      Content-Type:
      - text/javascript; charset=utf-8
      X-Apple-Application-Instance:
      - '4081015'
      X-Webobjects-Loadaverage:
      - '0'
      X-Apple-Request-Uuid:
      - eebe6700-74b6-644f-abaf-14732bcf3fea
      X-Apple-Ats-Cache-Key:
      - "/17.124.160.228/80/lookup/iDevice/https?country=AA&entity=software&id=992625902"
      X-True-Cache-Key:
      - "/L/itunes.apple.com/lookup ci2=country=AA&entity=software&id=992625902__"
      X-Apple-Partner:
      - origin.0
    body:
      encoding: ASCII-8BIT
      string: |2

        {
         "errorMessage":"Invalid value(s) for key(s): [country]",
         "queryParameters":{"output":"json", "callback":"A javascript function to handle your search results", "country":"ISO-2A country code", "limit":"The number of search results to return", "term":"A search string", "lang":"ISO-2A language code"}
        }
  recorded_at: Fri, 11 Nov 2016 01:00:00 GMT
recorded_with: VCR 3.0.3
